div
    form#call-form
        div
            label(for="name")
            input(type="text" name="name")

        div
            label(for="number")
            input(type="tel" name="number")

        div
            button Call Me!
        #credit-card