div
    form#call-form
        .form-group
            div
                label(for="name") Name
                input(type="text" name="name")
            div
                label(for="number") Phone Number
                input(type="tel" name="number")

        #credit-card

        .form-group
            button Call Me!
        